[submodule "CheckingAccount"]
	path = CheckingAccount
	url = git@github.com:davies-tl/CheckingAccount.git
	branch = master
[submodule "Circle"]
	path = Circle
	url = git@github.com:davies-tl/Circle.git
	branch = master
